/*
Author: Nikkia Miklos
Date: 10/06/2024
*/
/* the styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 630px;
    border: 3px solid rgb(18, 78, 60);
    padding: 0 1em .5em;
}
h1 {
	color: rgb(18, 78, 60);
	margin: .5em 0;
}
label {
	float: left;
    width: 10em;
    text-align: right;
    padding-bottom: .5em;
}
input {
    width: 5em;
	margin-left: 1em;
    margin-bottom: .5em;
}
textarea {
    width: 15em;
	height: 3em;
	margin-left: 1em;
    margin-bottom: .5em;
}
